@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
body,html{position: relative; height: 100%; max-width: 640px; min-width: 320px; min-height: 504px; margin: auto; overflow: hidden;}
html {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-select:none;}

.clarfix{ zoom:1; }
.clarfix{ display: table; content: "";}
.fl{ float: left;}
.fr{ float: right;}
.hide{ display: none;}
.ac{ text-align: center;}
.al{ text-align: left;}
.ar{ text-align: right;}

@font-face {
	font-family: 'mytext';
	src: url('./text.eot');
	src:
		url('./fonts/text.eot?#mytext') format('embedded-opentype'),
		url('./fonts/text.woff') format('woff'),
		url('./fonts/text.ttf') format('truetype'),
		url('./fonts/text.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.mytext{ font-family: 'mytext';}
.text {color: #fff; font-size: 22px;}

.loading{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #ffb5dc; -webkit-transform-style: preserve-3d;transform-style: preserve-3d;}
.xy-loading{position: absolute; left:50%; top: 50%; margin-left: -15%; margin-top: -20px; width: 32.5%; -webkit-transform: translateY(-50%);transform: translateY(-50%);}
.xy-icon{ margin-bottom: 20px; padding-bottom: 100%; background-color: #fff; border-radius: 50%; box-shadow: 3px 3px 6px rgba(0,0,0,0.3);}
.loading-text{ text-align: center; color: #fff; font-family: 'Helvetica';}
.xy-pic { position: absolute; left: 0; top: 0; width: 100%; height: 100%; border:7px solid #eee; border-radius: 50%; background: url("../images/loading.jpg") center center no-repeat; background-size: 100% 100%;}

.cover{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #ffb5dc;}
.loading .gift-box{ display: none; position: absolute; left: 0; top: 0; width: 100%; top: 50%; -webkit-transform: translateY(-70%);transform: translateY(-70%); text-align: center;}
.loading .text{ margin-bottom: 10px;}
.loading .gift{ width: 96px; height: 96px; margin: auto; background: url("../images/gift.png") center center no-repeat; background-size: 100% 100%;}

.main {position: relative; width: 100%; height: 100%; background-color: #ffb5dc;}
.view {position: absolute; width: 100%; height: 100%;}
.view .photo{ /*display: none;*/}

.paper{ position: absolute; left: 15px; top: 15px; right: 15px; bottom: 15px; background: url("../images/view_bg.jpg") #fff right bottom no-repeat; background-size: cover; }
.paper .text {color: #ffb5dc;}
.photo { position: absolute;  background-color: #fff; border: 5px solid #fff; box-shadow: 2px 2px 5px rgba(0,0,0,0.3); box-sizing: content-box; background-size: 100% 100%; opacity: 0;}

.photo.active{transition: all 0.6s; -webkit-transition: all 0.6s;}

.view-1 .photo-1 {left: 13px; top: 0; width: 128px; height: 172px; background-image: url("../images/view1-1.jpg");}
.view-1 .photo-2 {right: 14px; top: 30%; width: 124px; height: 165px; background-image: url("../images/view1-2.jpg");}
.view-1 .photo-3 {left: 13px; bottom: 11px; width: 124px; height: 170px; background-image: url("../images/view1-3.jpg");}
.view-1 .text-box {position: absolute;left: 40px; top: 52%; width: 95px; height: 95px; -webkit-transform: translateY(-65%);transform: translateY(-65%);}

.view-1 .photo-1.active {-webkit-transform:rotate(-12deg);transform:rotate(-12deg); opacity: 1}
.view-1 .photo-2.active {-webkit-transform:rotate(4deg);transform:rotate(4deg); opacity: 1}
.view-1 .photo-3.active {-webkit-transform:rotate(10deg);transform:rotate(10deg); opacity: 1}

.view-2 .photo-box {position: absolute; overflow: hidden;}
.view-2 .photo-box-1 { height: 170px; top: 3%; left: 10px; right: 10px;}
.view-2 .photo-box-2 { height: 187px; top: 15%; left: 10px; right: 10px;}
.view-2 .photo-box-3 { height: 190px; bottom: 3%; left: 10px; right: 10px;}
.view-2 .photo-1 { width: 120px; height: 160px; background-image: url("../images/view2-1.jpg");}
.view-2 .photo-2 { right: 0; width: 120px; height: 177px; background-image: url("../images/view2-2.jpg");}
.view-2 .photo-3 { width: 120px; height: 180px; background-image: url("../images/view2-3.jpg"); }
.view-2 .text {position: absolute; width: 100%; height: 35px;}
.view-2 .text:before { display: block; height: 1px; background-color: #ffb5dc; content:"";}
.view-2 .photo-box-2 .text { bottom: 0; padding-top: 4px;}
.view-2 .photo-box-1 .text:before,.view-2 .photo-box-3 .text:before { margin-left: 138px;}
.view-2 .photo-box-2 .text:before{ margin-right: 138px;}
.view-2 .text-1 {left: 100%;}
.view-2 .text-2 {left: -100%;}
.view-2 .text-3 {left: 100%;}

.view-2 .text {transition: all 0.6s; -webkit-transition: all 0.6s;}
.view-2 .active .text-1 { left: 0%;}
.view-2 .active .text-2 { left: 0%;}
.view-2 .active .text-3 { left: 0%;}
.view-2 .active.photo { opacity: 1;}

.view-3 .photo-1 { top: 12px; right: 12px; width: 144px; height: 191px; background-image: url("../images/view3-1.jpg");}
.view-3 .photo-2 { left: 12px; bottom: 12px; width: 146px; height: 195px; background-image: url("../images/view3-2.jpg");}
.view-3 .text-box { position: absolute; top: 50%; left: 12px; -webkit-transform: translateY(-80%);transform: translateY(-80%);}
.view-3 .active.photo-1{ -webkit-transform:rotate(15deg);transform:rotate(15deg); opacity: 1;}
.view-3 .active.photo-2{ -webkit-transform:rotate(-10deg);transform:rotate(-10deg); opacity: 1;}

.view-4 .photo-1 { top: 9px; left: 9px; width: 151px; height: 182px; background-image: url("../images/view4-1.jpg");}
.view-4 .photo-2 { right: 9px; top: 90px; width: 97px; height: 206px; background-image: url("../images/view4-2.jpg");}
.view-4 .text-box { position: absolute;}
.view-4 .text-box-1 { top: 9px; right:18px;}
.view-4 .text-box-2 { top: 220px; left:9px;}
.view-4 .text-box-3 { bottom: 20px; left:9px;}
.view-4 .active.photo-1{ opacity: 1;}
.view-4 .active.photo-2{ opacity: 1;}

.view-5 .photo {position: absolute; width: 114px; height: 156px; }
.view-5 .photo-1 { left: 14px; top: 108px; background-image: url("../images/view5-1.jpg");}
.view-5 .photo-2 { right: 14px; top: 108px; background-image: url("../images/view5-2.jpg");}
.view-5 .photo-3 { left: 14px; bottom:16px; background-image: url("../images/view5-3.jpg");}
.view-5 .photo-4 { right: 14px; bottom:16px; background-image: url("../images/view5-4.jpg");}
.view-5 .text-box{ position: absolute; left: 14px; top: 20px;}
.view-5 .photo.active{opacity: 1;}
.view-5 .photo-1.active{-webkit-transform:rotate(-10deg);transform:rotate(-10deg);}
.view-5 .photo-2.active{-webkit-transform:rotate(10deg);transform:rotate(10deg); }
.view-5 .photo-3.active{-webkit-transform:rotate(10deg);transform:rotate(10deg);}
.view-5 .photo-4.active{-webkit-transform:rotate(-10deg);transform:rotate(-10deg); }

.view-6 .photo {position: absolute;}
.view-6 .photo-1 { left: 10px; top: 5px; width: 138px; height: 193px; background-image: url("../images/view6-1.jpg");}
.view-6 .photo-2 { width: 137px; height: 155px; right: 10px; top: 50%; background-image: url("../images/view6-2.jpg"); -webkit-transform: translateY(-50%);transform: translateY(-50%);}
.view-6 .photo-3 { left: 10px; bottom: 5px; width: 137px; height: 183px;  background-image: url("../images/view6-3.jpg");}
.view-6 .text-box{ position: absolute; width: 84px;}
.view-6 .text-box-1{ top: 30px; right: 15px;}
.view-6 .text-box-2{ top: 210px; left: 30px;}
.view-6 .photo.active{opacity: 1;}
.view-6 .photo-1.active{-webkit-transform:rotate(4deg);transform:rotate(4deg);}
.view-6 .photo-3.active{-webkit-transform:rotate(-4deg);transform:rotate(-4deg);}

.view-7 .photo { position: static; padding-bottom: 88%; box-sizing: border-box; background-image: url("../images/view7-1.jpg");}
.view-7 .text-box-1 { padding-top: 6px;}
.view-7 .text-box-2 { position: absolute; left: 10px; bottom: 5px;}
.view-7 .photo.active{opacity: 1;}

.back-cover .text-box {display: none; position: absolute; width: 200px; left: 50%; top: 50px; margin-left: -100px;}
.back-cover .text-box p{font-size: 30px;}

.sound{ display: none; position: fixed; width: 20px; height: 20px; background: url("../images/bg_sound.png") center center no-repeat; background-size: 100% 100%; right: 20px; bottom: 20px;}
.sound.pause:after{ content: "";  position: absolute; left: 0; top: 50%; margin-left: -10%; width: 120%; height: 120%; display: block; border-top: 1px solid #f16d66; -webkit-transform-origin: 50% 0; transform-origin: 50% 0; -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }

#arrow{ display: none; position: fixed; left: 50%; bottom: 20px; width: 26px; height: 25px; margin-left: -13px; background:url("../images/arrow.png") center center no-repeat;}
#cake-a{ display: none; width: 200px; height: 400px; margin: auto; background: url("../images/cake.jpg") center center no-repeat; background-size: 100% auto; } 
#cake-a-text{display: none;}
/* animates */
@keyframes floating {
	0% {transform: translateY(0%);}
	50% {transform: translateY(8%);}	
	100% {transform: translateY(0%);}			
}
@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
.floating{
	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes rolling{
	0% {
		-webkit-transform: rotateZ(0deg);
	}
	100% {
		-webkit-transform: rotateZ(360deg);
	}
}
@keyframes rolling{
	0% {
        transform: rotateZ(0deg);	
	}
	100% {
        transform: rotateZ(360deg);	
	}
}
.rolling{
	-webkit-animation-name: rolling;
	animation-name: rolling;
	-webkit-animation-duration: 3.5s;
	        animation-duration: 3.5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes shake-rotate {
  90% {
    -webkit-transform: translate(0, 0) rotate(4.5deg); }
  95% {
    -webkit-transform: translate(0, 0) rotate(-4.5deg); }
  0%, 85%, 100% {
    -webkit-transform: translate(0, 0) rotate(0);} 
}
@keyframes shake-rotate {
  90% {
	transform: translate(0, 0) rotate(4.5deg); }
  95% {
	transform: translate(0, 0) rotate(-4.5deg); }
  0%, 85%, 100% {
	transform: translate(0, 0) rotate(0); } 
}

.shake-rotate{
	-webkit-animation-name: shake-rotate;
	animation-name: shake-rotate;
	-webkit-animation-duration: 1.5s;
	        animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.up-down{
	-webkit-animation: up_down 1000ms linear infinite;
	-moz-animation: up_down 1000ms linear infinite;
	-ms-animation: up_down 1000ms linear infinite;
	animation: up_down 1000ms linear infinite;
}
@-webkit-keyframes up_down{
	0% {-webkit-transform:translateY(0px);}
	50% {-webkit-transform:translateY(10px);}
	100% {-webkit-transform:translateY(0px);}
}
@-moz-keyframes up_down{
	0% {-moz-transform:translateY(0px);}
	50% {-moz-transform:translateY(10px);}
	100% {-moz-transform:translateY(0px);}
}
@-ms-keyframes up_down{
	0% {-ms-transform:translateY(0px);}
	50% {-ms-transform:translateY(10px);}
	100% {-ms-transform:translateY(0px);}
}
@keyframes up_down{
	0% {transform:translateY(0px);}
	50% {transform:translateY(10px);}
	100% {transform:translateY(0px);}
}


/* cake */

#cake {
  display: block;
  width: 200px; 
  height: 500px; 
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 6s ease-out forwards;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 6.5s infinite;
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 6.5s infinite;
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 6.5s infinite;
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 6.5s infinite;
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 6.5s infinite;
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.cake-text,.cake-a-text {
  color: #8b6a60;
  font-family: 'mytext', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  opacity: 0;
}
.cake-text p{ font-family: "Tahoma", sans-serif;}
.cake-text h1 { font-size: 1.4em; }